tml
    head
        title LOGIN
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")

    body
        .container
            h1.text-center.mt-5 LOGIN
            if errors
                each error in errors
                    .alert.alert-danger= error
            form(method="POST")
                input(type="hidden" name="_csrf" value=csrfToken)
                .form-group
                    label(for="name") Username
                    input.form-control#name(type="text" placeholder="Enter Name" name="name" value=user ? user.name : '' required)
                .form-group
                    label(for="password") Password
                    input.form-control#password(type="password", placeholder="Enter Password" name="password" required)
                button.btn.btn-primary.d-block.ml-auto(type="submit") Submit