html
  head
    block title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    block css
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/") My site
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav
          li.nav-item(class=(active === 'home' ? 'active' : ''))
            a.nav-link(href="/") Home 
          li.nav-item(class=(active === 'users' ? 'active' : ''))
            a.nav-link(href="/users") Users
          li.nav-item(class=(active === 'products' ? 'active' : ''))
            a.nav-link(href="/products?page=1") Products
        ul.navbar-nav.ml-auto
          li.nav-item
              p= `Cart (${totalCart ? totalCart : 0})`  
          if user
            li.nav-item
                p= `Hello ${user.name}`
          li.nav-item
            a.nav-link(href="/logout") Logout
    .container
      block content