extends ../layouts/common

block title
    title CREATE NEW USER
block content
    h1 Create new user
    if errors
        each error in errors
            .alert.alert-danger= error
    form(method="POST" enctype="multipart/form-data")
        input(type="hidden", name="_csrf", value=csrfToken")
        .form-group
            label(for="name") Name
            input.form-control#name(type="text" placeholder="Enter Name" name="name" value=usernew ? usernew.name : '' required)
        .form-group
            label(for="password") Password
            input.form-control#password(type="password", placeholder="Enter Password" name="password" required)
        .form-group
            label(for="avatar") Avatar
            input.form-control-file#avatar(type="file" name="avatar" )
        button.btn.btn-primary(type="submit") Submit