extends ../layouts/common

block title
    title EDIT USER
    link(rel="stylesheet" href="/css/user.css")
block css

block content
    h1 This is edit user page
    form(method="POST" action="/users/edit")
        .form-group.invisible
            input.form-control(type="text" name="id" value=user.id)
        .form-group
            label(for="name") Name
            input.form-control#name(type="text" placeholder="Enter Name" name="name" value=user ? user.name : '' required)
        .form-group
            label(for="oldPassword") Old Password
            input.form-control#oldPassword(type="password", placeholder="Enter old Password" name="old_pass" required)
        .form-group
            label(for="newPassword") New Password
            input.form-control#newPassword(type="password", placeholder="Enter new Password" name="new_pass" required)
        button.btn.btn-primary(type="submit") Submit