extends ../layouts/common
block css
    link(rel="stylesheet" href="/css/user.css")
block title
    title USER PAGE
block content
    .header
        h1 This is user page
        a.btn.btn-primary(href="/users/create") Create new user
    if users.length > 0
        table.table
            tr
                th Avatar
                th Name
                th Password
                th Actions
            each user in users
                tr
                    td
                        img(src=user.avatar width="32px")
                    td= user.name
                    td= user.password
                    td
                        a.btn.btn-danger.mr-2(href=`/users/delete/${user.id}`) Delete
                        a.btn.btn-warning(href=`/users/edit/${user.id}`) Edit
    else 
        .alert.alert-warning.text-center The User list is empty