extends ../layouts/common

block title
    title PRODUCT PAGE
block content
    if products
        .row
            each item in products
                .col-sm-3
                   .card(style="width: 18rem;")
                        img.card-img-top(src=item.image, alt="Card image cap")
                        .card-body
                            h4= item.name
                            a.btn.btn-primary(href=`/cart/product/${item.id}`) Add Cart
                            p.card-text= item.descripsion
    .d-flex.justify-content-center
        ul.pagination
            if pagination.showFirstPage
                li.page-item
                    a.page-link(href='/products?page=1') First
            if pagination.prevPage
                li.page-item
                    a.page-link(href=`/products?page=${pagination.prevPage}`) #{pagination.prevPage}
            li.page-item.active(aria-current='page')
                a.page-link(href=`/products?page=${pagination.currentPage}` readonly)
                    | #{pagination.currentPage}
                    span.sr-only (current)
            if pagination.nextPage
                li.page-item
                    a.page-link(href=`/products?page=${pagination.nextPage}`) #{pagination.nextPage}
            if pagination.showLastPage
                li.page-item
                    a.page-link(href=`/products?page=${pagination.totalPage}`) Last