*{
    padding: 0px;
    margin: 0px;
}
a:hover{
    text-decoration: none;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.invisible{
    display: none
}
